{% extends 'layouts/index.html' %}


{% block content %}
    <style type="text/css">
        .product {
            width: 80%;
            margin-left: 10%;
        }
        .product > img {
            width: 100%;
        }
        .dates {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }
        .comment_block {
            padding: 10px;
            background: #242b2e;
            color: #fff;
            margin-bottom: 20px;
        }
        .comments_title {
            font-size: 26px;
            font-weight: bold;
            margin-top: 40px;
        }
    </style>
    <div class="product">
        <img src="/media/{{ product.image }}/" alt="">
        <h1>{{ product.title }}</h1>
        <h5>{{ product.description }}</h5>
        <div class="dates">
            <h6>{{ product.created_date }}</h6>
            <h6>{{ product.modified_date }}</h6>
        </div>
        <p class="comments_title">Comments</p>
        <div class="comments">
            {% for comment in comments %}
                <div class="comment_block">
                    <h6>{{ comment.text }}</h6>
                    <p>{{ comment.created_date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}